/* Breadcrumb */
.breadcrumb {
    background: linear-gradient(to right, rgb(44, 16, 63), rgb(149, 130, 162));
    border-radius: 0;
}
nav a, nav a:hover{
    color: rgb(243, 228, 22);
}
nav {
    position: fixed;
    top: 0;
    width: 100%;
}
/*Table*/
.table {
    margin: 150px 10px;
}
.table thead {
    background-color: #715B80;
    color: rgb(238, 247, 78);
}
.table tbody td a {
    margin-left: 10px;
}
tbody {
    height: 350px;
    overflow-y: scroll;
    display: block;
}
thead, tbody tr {
    display: table;
    table-layout: fixed;
    width: 100%;
}
